@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root{
    --bg-primary: #fafff6;
    --bg-secondary: #333333;
    --bg-cta: #dff8ca;
    --bg-accent: #6da74b;
    --text-white:  #f8f8fa;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}

.section{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.btn-primary{
    background-color: var(--bg-accent);
    color: #ffffff;
    border-color: var(--bg-accent);
}

.btn-dark{
    background-color: var(--bg-secondary);
    color: #ffffff;
    border-color: var(--bg-secondary);
}

.text-small{
    font-size: calc(1rem - 3px);
}

.text-primary{
    color: var(--text-white) !important;
}

.text-dark{
    color: var(--bg-secondary) !important;
}

.bg-primary{
    background-color: var(--bg-primary) !important;
}

.contact{
    border-bottom: 0.04375rem solid #656565;
}

#home{
    background-image: url(../images/hero-img-overlay.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.hero-content{
    width: 60%;
}

.hero-text{
    font-size: 4rem;
}

.hero-sub-text{ 
    width: 80%;
}


.rectangle-blob{
    margin-top: 5.3125rem;
    left: 0.1875rem;
}

.services{
    width: 17.7rem;
}

.services-icon{
    width: 3.125rem;
    height: 3.125rem;
}

#products{
    background-color: #F8F8FA;
    background-image: url(../images/product-bg-image.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 97% 52%;
    background-attachment: fixed;
}

.product-content{
    max-width: 30rem;
}

.second-rectangle{
    margin-top: -3rem;
}

.cta-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cta{
    border-radius: 4.375rem;
    background-color: var(--bg-cta);
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
}

footer{
    background-color: var(--bg-secondary);
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-image: url(../images/footer-bg-image.svg), url(../images/footer-bg-image2.svg);
    background-repeat: no-repeat;
    background-position: 39.4% -8.375rem, 63% 5rem;
}









/***************************************** Mobile Design *******************************************/


@media screen and (max-width: 992px) {
    .hero-text{
        font-size: 2.8125rem;
    }

    .hero-sub-text{ 
        width: 100%;
    }

    .rect{
        width: 12.5rem !important;
        height: 11.25rem !important;
    }

    .rect-small{
        width: 12.5rem !important;
        height: 8.75rem !important;
    }

    #products{
        background-position: 55% 18rem;
    }

    .cta{
        border-radius: 3.375rem;
        padding-top: 4.625rem;
        padding-bottom: 4.625rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-text{
        font-size: 1.875rem;
    }
}

@media screen and (max-width: 650px) {
    .service-wrapper{
        flex-direction: column !important;
    }
}