@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root{
    --bg-primary: #fafff6;
    --bg-secondary: #333333;
    --bg-cta: #dff8ca;
    --bg-accent: #6da74b;
    --text-white:  #f8f8fa;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}

.section{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.btn-primary{
    background-color: var(--bg-accent);
    color: #ffffff;
    border-color: var(--bg-accent);
}

.btn-dark{
    background-color: var(--bg-secondary);
    color: #ffffff;
    border-color: var(--bg-secondary);
}

.text-small{
    font-size: 0.875rem;
}

.text-primary{
    color: var(--text-white) !important;
}

.bg-primary{
    background-color: var(--bg-primary) !important;
}

.contact{
    border-bottom: 0.04375rem solid #656565;
}

#home{
    background-image: url(../images/hero-image.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.hero-content{
    width: 60%;
}

.hero-text{
    font-size: 4rem;
}

.hero-sub-text{ 
    width: 80%;
}


.rectangle-blob{
    margin-top: 5.3125rem;
    left: 0.1875rem;
}

.services{
    width: 17.7rem;
}

.services-icon{
    width: 3.125rem;
    height: 3.125rem;
}

#products{
    background-color: #F8F8FA;
    background-image: url(../images/SVG\ by\ MagicPattern.design\ \(2\).svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 97% 52%;
}

.product-content{
    max-width: 30rem;
}

.second-rectangle{
    margin-top: -3rem;
}

.cta-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cta{
    border-radius: 4.375rem;
    background-color: var(--bg-cta);
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
}

footer{
    background-color: var(--bg-secondary);
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-image: url(../images/Rectangle\ 5.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 39.4% -8.375rem;
}